<style>
.votes-binomes-container{
	margin-bottom:25px;
}

.liste{
	list-style:none;
}

.results{
	width:fit-content;
	padding:0px 3px 0px 3px;
	font-weight:700
}
</style>


<div class="col-5 ">

	<form>
		<div class="row mb-4 resultats-vote">
			<div class="col">
				<p class="votes-total-number">Nombre de votants : 13/{{electeurs|length}}</p>
				<ul class="liste-binomes">
				
					{% for candidat in candidats %}{%set votes=random(1,3)%}
					<div class="votes-binomes-container">
						<li class="liste results">Résultats .............. : <span class="detail-vote-count">{{votes}}</span>
votes</li>
						<li class="liste titulaire" id="{{candidat.titulaire.id}}">Titulaire : <span>{{candidat.titulaire}}</span>
							</li>
						<li class="liste suppleant" id="{{candidat.suppleant.id}}">Suppleant : <span >{{candidat.suppleant}}</span>
							</li>
					</div>
					{%endfor%}
				</ul>
			</div>
		</div>
	<div class="row mt-5 p-0 ">
		<div class="col next-step-button-container"><input type="button" class="close-vote" value="Clôturer le vote"></div>
			<div class="col p-0"></div>
		</div>
	</form>
</div>

		<script>

const resultatsVoteContainer = document.querySelector('.resultats-vote')
const resultatsDetail = document.querySelector('.detail-vote')

const clotureVote = document.querySelector('.close-vote');
const resultats = document.createElement('p');

const resultatsDetailVote = document.querySelectorAll('.detail-vote-count')
const titulaire=document.querySelectorAll(".titulaire")
const suppleant=document.querySelectorAll('.suppleant')

let votesByCandidats=[]

const nombreCandidats={{candidats|length}}
for(let i=0; i<nombreCandidats; i++){
	votesByCandidats.push([resultatsDetailVote[i].textContent, titulaire[i].id, suppleant[i].id])
}

votesByCandidats = JSON.stringify(votesByCandidats);

resultats.textContent = "BLAHHHH";

if (resultats.className != "lancer-second-tour") {
	clotureVote ?. addEventListener('click', function (e) {

	clotureVote.value = "Commencer le second Tour"
	resultatsVoteContainer.append(resultats)

	const url = window.location.toString()

	const request = new XMLHttpRequest();
	request.open('POST', url, true)
	request.setRequestHeader('Content-type', 'application/x-www-form-urlencoded')
	request.addEventListener('onreadystatechange', () => {
		if (request.readyState === XMLHttpRequest.DONE) {
			if (request.status === 200) {
				const response = JSON.parse(request.response);
				console.log("ca marche");
			} else {
				console.error('ca marche pas !');
			}
		}
	});
	votesByCandidats = JSON.stringify(votesByCandidats);
	request.send("resultat=" + encodeURIComponent(votesByCandidats))

	})

}

		</script>
