<div class="col-5 ">
	<form>
		<div class="row mb-4 resultats-votes">
			<div class="col">
				<p class="votes-number">Nombre de votants : 13/13</p>
				<ul>
					{% for candidat in candidats %}
					{% set resultats=random(1,3)%}
					
						{%if candidat.titulaire%}
							<li data-votes="{{resultats}}">Résultats des votes .............. : {{resultats}} votes</li>
							<span id="{{candidat.titulaire.id}}">Titulaire :
								{{candidat.titulaire}}<span></br>
								{%else%}
								<span id="{{candidat.suppleant.id}}">Suppléant :
									{{candidat.suppleant}}<span></br>
								</br>
							{% endif %}
							{%endfor%}
						</ul>
					</div>
				</div>
				<div class="row mt-5 p-0 ">
					<div class="col next-step-button-container"><input type="button" class="close-vote" value="Clôturer le vote"></div>
					<div class="col p-0"></div>
				</div>
			</form>
		</div>

		<script>


		</script>
